* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    background-color: #b83f3f;
    font-size: 18px;
    color: rgb(253, 253, 250);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(19, 193, 7, 0.35);
}

.container {
    border-radius: 5px;
    background-color: rgba(153, 153, 153, 0.6);
    padding: 10px;
    min-height: 90%;
}

.column {
    float: left;
    width: 50%;
    margin-top: 20px;
    margin-left: 400px;
    padding: 20px;
}

<<<<<<< HEAD
.row:after {
    content: "";
    display: table;
    clear: both;
}

.image-container {
    width: 500px;
    height: 350px;
}

=======
>>>>>>> 9a31e68cd6f30d68d329c0fa082651681e2054d6
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        height: 100%;
    }
}
h2 {
    width: 92%;
}