h1{
	text-align: center;
}

h3, p{
	margin-bottom: 10px;
}

.readme-container {
	text-align: left;
	align-self: center;
	margin: 0px 200px;
	padding: 30px 60px;
	background-color: rgba(195,195,187,0.96);
}

.readme-container h2 {
	font-family: 'Quicksand', sans-serif;
	color: white;
	text-align: center;
}

.readme-container h3 {
	font-family: 'Quicksand', sans-serif;
	color: #5656c6;
	text-decoration: underline}
