.checkout-container {
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
	display: flex;
	align-content: center;
	flex-direction: column;
	margin: 100px 100px 100px 100px;
}

.payment-container {
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
	display: flex;
	width: 50%;
	flex-direction: column;
}

.payment-container h3 {
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
}

.shipping-address-container {
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
	display: flex;
	width: 50%;
	flex-direction: column;
}

.shipping-address-container h3 {
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
}

.review-order-container {
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
	display: flex;
	width: 50%;
	flex-direction: column;
}

.review-order-container h3 {
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
}

.checkout-card {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 25px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #d9dbff;
}

.review-order-container td,
.review-order-container th {
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
	border: 1px solid #f3f5dc;
	background-color: white;
	padding: 6px;
}

.review-order-container th {
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
	padding: 12px 12px;
	text-align: center;
	background-color: #d2f0e3;
	color: black;
}

.review-order-container button {
	background-color: #cdf3f3;
}