.search-bar-container {
  height: 100%;
  margin-left: 400px;
  margin-right: 400px;
}

.admin-container h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  font-size: 30px;
}

.search-bar-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  font-size: 2.5em;
  color: white;
}

.admin-container .table {
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: collapse;
  width: 70rem;
}

.admin-container th,
.admin-container td {
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid rgb(91, 128, 121);
  background-color: turquoise;
  padding: 8px;
}
.admin-container tr.red th {
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  background: red(191, 163, 193);
  color: rgb(158, 158, 212);
  padding: 10px;
}
.admin-container th {
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  background: #b0ddcc;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
