body {
	font-family: 'Segoe UI';
	font-weight: lighter;
	margin: 0;
}

html {
	box-sizing: border-box;
}

.column {
	float: left;
	width: 33.3%;
	margin-bottom: 16px;
	justify-content: space-around;
}

.card img {
	width: 250px;
	height: 250px;
}

.column {
	flex-grow: 2;

}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 28px 8px 8px 28px;
}

.background {
	background-color: white;
}

.about-section {
	padding: 50px;
	text-align: center;
	color: black;
}

.header-container {
	font-family: 'Segoe UI';
	font-weight: lighter;
	padding-top: 40px;
	padding-bottom: 40px;
	width: inherit;
	background-color: #64916e4b;
}

.team-container {
	background-color: rgba(221, 224, 224, 0.7);
	justify-content: space-around;
}

.container {
	padding: 0 16px;
}

.container::after, .row::after {
	content: "";
	clear: both;
	display: table;
}

.title {
	font-family: 'Segoe UI';
	font-weight: lighter;
	color: grey;
}

.description {
	font-family: 'Segoe UI';
	font-weight: bolder;
	color: black;
}

.container h2 {
	font-family: 'Segoe UI';
	font-weight: lighter;
	color: black;
}

.header-container h1 {
	font-family: 'Segoe UI';
	font-weight: lighter;
	font-size: 45px;
}

@media screen and (max-width: 650px) {
	.column {
		width: 100%;
		display: block;
	}
}

.about-section h2 {
	text-align: center;
}