.checkout-container {
	font-family: 'Segoe UI';
	font-weight: lighter;
	display: flex;
	align-content: center;
	flex-direction: column;
	margin: 100px 100px 100px 100px;
}

.payment-container {
	font-family: 'Segoe UI';
	font-weight: lighter;
	display: flex;
	width: 70%;
	flex-direction: column;
	margin-left: 180px;

}

.payment-container h3 {
	font-family: 'Segoe UI';
	font-weight: lighter;
}

.shipping-address-container {
	font-family: 'Segoe UI';
	font-weight: lighter;
	display: flex;
	width: 70%;
	flex-direction: column;
	margin-left: 180px;

}

.shipping-address-container h3 {
	font-family: 'Segoe UI';
	font-weight: lighter;
}

.review-order-container {
	font-family: 'Segoe UI';
	font-weight: lighter;
	display: flex;
	width: 70%;
	flex-direction: column;
	margin-left: 180px;
}

.review-order-container h3 {
	font-family: 'Segoe UI';
	font-weight: lighter;
}

.checkout-card {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 25px;
	margin-right: 5px;
	background-color: #d1d2db;
}

.review-order-container td,
.review-order-container th {
	font-family: 'Segoe UI';
	font-weight: lighter;
	border: 1px solid #f3f5dc;
	background-color: white;
	padding: 6px;
}

.review-order-container th {
	font-family: 'Segoe UI';
	font-weight: lighter;
	padding: 12px 12px;
	text-align: center;
	background-color: #d2f0e3;
	color: black;
	font-size: larger;
}

.review-order-container button {
	background-color: #65d567;
	font-size: larger;
}

