.content {
	display: flex;
	flex-wrap: wrap;
}

.main {
	flex: 3 60rem;
}

.sidebar {
	flex: 1 20rem;
}

.product-container-flex{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.storeItems li {
	flex: 1 1 29rem;
	margin: 2rem;
	height: 30rem;
	padding: 2rem;
}

.filter {
	display: flex;
	flex-direction: column;
	background-color: rgba(195, 221, 204, 0.96);
	padding: 1rem 1rem 15px 130px;
	position: sticky;
}

.filter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.filter .filter-result-container {
	display: flex;
	flex-direction: row;
	margin: 0 0 0 15px;
}

.filter .filter-result {
	font-family: 'Segoe UI';
	font-weight: bold;
	font-size: 16px;
	margin: 0 0px 0px 850px;
	vertical-align: middle;
}

.search {
	display: flex;
	flex-direction: row;
	margin-left: 20px;
}

.filter button {
    height: 60px;
    width: 150px;
    background-color: rgba(168,187,175,0.96);
}

.search {
	margin-right: auto;
	display: flex;
	flex-direction: row;
}

.saleHeader h2{
	font-family: 'Segoe UI';
	font-weight: lighter;
	font-size: 80px;
	margin-top: 80px;
}

.cart-items-container {
	display: flex;
	align-self: flex-end;
	padding-left: 900px;
}