.navbar{
	display: flex;
}

.store-logo {
	width: 100px;
	margin-left: 150px;
}

.navbar-logo {
	margin-right: 5px;
}

.navbar-links li:hover {
	transform: scale(1.1);
}

.navbar-links li:active {
	transform: scale(1);
}

nav {
	display: 'flex';
	justify-content: space-between;
	align-items: center;
	min-height: 10px;
	background-color: rgba(249,249,240,0.96)
}

a {
	color: #000000;
	font-size: large;
}

.navbar-logo.store-logo {
	height: 40px;
	width: 40px;
}

.navbar-links {
	display: flex;
	color: rgb(255, 255, 255);
	width: 70%;
	justify-content: space-around;
	align-items: center;
}
